{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
	
		<div class="container">
			

			<div class="card bg-light">
				<article class="card-body mx-auto" style="max-width: 400px;">
					<h4 class="card-title mt-3 text-center">Register Blood</h4>
					<p class="text-center">Add blood record to database.</p>
					
					<form method="post">
						{% csrf_token %}
						{{ form |crispy}}

						<div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Add Record  </button>
				    </div>

					</form>
					
					<form>
					<div class="form-group input-group">

						<div class="form-group input-group">
				    	<div class="input-group-prepend">
						    <span class="input-group-text"> <i class="fa fa-tint"></i> </span>
						</div>
						<select class="form-control">
							<option selected=""> Select Blood type</option>
								<option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>AB-</option>
                                <option>AB+</option>
                                <option>O+</option>
                                <option>O-</option>
						</select>
					</div> <!-- form-group end.// -->

					<div class="form-group input-group">
				    	<div class="input-group-prepend">
						    <span class="input-group-text"> <i class="fa fa-weight"></i> </span>
						</div>
						
				    	<input name="" class="form-control" placeholder="Amount" type="text">
				    	<select class="custom-select" style="max-width: 120px;">
						    <option selected="">Pint</option>
						</select>
				    </div> <!-- form-group// -->

				    Donate Date:
				    <div class="form-group input-group">

				    	<div class="input-group-prepend">
						    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
						 </div>

				        <input name="" class="form-control " placeholder="Donate Date" type="date" >
				    </div> <!-- form-group// -->
				    Expiry Date:
				    <div class="form-group input-group">
				    	<div class="input-group-prepend">
						    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
						 </div>

				        <input name="" class="form-control" placeholder="Expiry Date" type="date">
				    </div> <!-- form-group// -->
						
				    
				                                       
				    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Add Record  </button>
				    </div> <!-- form-group// -->      
				                                                                     
				</form>
				</article>
				</div> <!-- card.// -->

				</div> 
				<!--container end.//-->



{% endblock %}