{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">



    <title>Save Life</title>
  </head>
  <body>

    
<nav class="navbar navbar-expand-lg navbar-light">
  <a href="/" class="navbar-brand"><img src="{% static 'core/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    <em style="color: purple; font-size: 30px;"> BloodFinder </em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'searchdonor' %}">Search Donor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'regdonor' %}">Be a Donor</a>
            </li>
            
            
        </ul>

        <ul class="navbar-nav ">
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pendingdonors' %}">Verify Donors</a>
            </li>
           
          {% else %}
           
          {% endif %}

    </ul>
    </div>
</nav>

     
  



        {% block content %}
        {% endblock %}


  <footer id="sticky-footer">
    <div class="container ">
      <div class="row">
        <div class="col-sm">
          <img class="footer_logo" src="{% static 'core/images/logo.png' %}"> 
           <em style="color: white; font-size: 30px;"> Blood Finder </em> <br><br>
           <a href="#">
             <img class=" social_icons" src="{% static 'core/images/fb.png' %}">
          </a>
          <a href="#">
            <img class=" social_icons" src="{% static 'core/images/insta.png' %}">
          </a>
          <a href="#">
            <img class=" social_icons" src="{% static 'core/images/twtr.png' %}">
          </a>
             <br>
           <a href="mailto:bloodfinder2020@gmail.com">
          <em style="font-weight: lighter; font-size: 20px; color: white;">bloodfinder2020@gmail.com</em>
        </a>
        </div>
        
      </div>

      <div class="copyright">

        © 2019 BloodFinder. All Rights Reserved. 
        
      </div>

    </div>
  </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>