{% extends 'core/base.html' %}
{% load static %}


{% block content %}

		

		


		<div class="card shadow1">
		  <h2>A+ Blood type is available.</h2>
		
			<div class="form-group input-group">
				<div class="input-group-prepend">
				    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
		        <input name="" class="form-control" placeholder="Full name" type="text">
		    </div> <!-- form-group// -->

		    <div class="form-group input-group">
		    	<div class="input-group-prepend">
				    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				</div>
				<select class="custom-select" style="max-width: 120px;">
				    <option selected="">+977</option>
				</select>
		    	<input name="" class="form-control" placeholder="Number" type="text">
		    </div> <!-- form-group// -->
		    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Request Blood  </button>
				    </div> <!-- form-group// -->   
		 
		</div>


{% endblock %}